#header {
    text-align: center;
}

canvas {
    width: 500px;
    height: 500px;
    border:black 3px solid;
}

#demo-div {
    display: flex;
}

#upload {
    padding: 2% 0%;
}

#wrapper {
    display: grid;
    padding-top: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

#fileInput {
    text-align: center;
    margin: auto;
}